USE [master]
GO
/****** Nesnesi: Database [Sport Center] Betik Tarihi: 3.06.2026 23:07:36 ******/
CREATE DATABASE [Sport Center]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sport Center', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\Sport Center.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sport Center_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS02\MSSQL\DATA\Sport Center_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sport Center].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sport Center]
GO
/****** Nesnesi: Table [dbo].[Table_Member] Betik Tarihi: 3.06.2026 23:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Member](
	[Member_Id] [int] IDENTITY(1,1) NOT NULL,
	[Member_Name] [nvarchar](50) NOT NULL,
	[Member_Surname] [nvarchar](50) NOT NULL,
	[Member_Email] [nvarchar](50) NOT NULL,
	[Member_Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_Member] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Table_Membership] Betik Tarihi: 3.06.2026 23:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Membership](
	[Membership_Id] [int] IDENTITY(1,1) NOT NULL,
	[Member_Id] [int] NOT NULL,
	[Package_Id] [int] NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
 CONSTRAINT [PK_Table_Membership] PRIMARY KEY CLUSTERED 
(
	[Membership_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Table_Package] Betik Tarihi: 3.06.2026 23:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Package](
	[Package_Id] [int] IDENTITY(1,1) NOT NULL,
	[Package_Name] [nvarchar](50) NOT NULL,
	[Package_Price] [decimal](18, 2) NOT NULL,
	[Package_Duration] [int] NOT NULL,
 CONSTRAINT [PK_Table_Package] PRIMARY KEY CLUSTERED 
(
	[Package_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Table_Staff] Betik Tarihi: 3.06.2026 23:07:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Staff](
	[Staff_Id] [int] IDENTITY(1,1) NOT NULL,
	[Staff_Name] [nvarchar](50) NOT NULL,
	[Staff_Username] [nvarchar](50) NOT NULL,
	[Staff_Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_Staff] PRIMARY KEY CLUSTERED 
(
	[Staff_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Table_Member] ON 

INSERT [dbo].[Table_Member] ([Member_Id], [Member_Name], [Member_Surname], [Member_Email], [Member_Phone]) VALUES (3, N'Burak ', N'Akdoğan', N'burakdgn@gmail.com', N'05304523816')
INSERT [dbo].[Table_Member] ([Member_Id], [Member_Name], [Member_Surname], [Member_Email], [Member_Phone]) VALUES (4, N'İrem Nur ', N'İldeş', N'iremildss@gmail.com', N'05324657523')
INSERT [dbo].[Table_Member] ([Member_Id], [Member_Name], [Member_Surname], [Member_Email], [Member_Phone]) VALUES (5, N'Seher Enise', N'Güzel', N'eniseguzel@gmail.com', N'05056459215')
SET IDENTITY_INSERT [dbo].[Table_Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Membership] ON 

INSERT [dbo].[Table_Membership] ([Membership_Id], [Member_Id], [Package_Id], [Start_Date], [End_Date]) VALUES (1, 1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-31' AS Date))
INSERT [dbo].[Table_Membership] ([Membership_Id], [Member_Id], [Package_Id], [Start_Date], [End_Date]) VALUES (2, 2, 2, CAST(N'2026-01-15' AS Date), CAST(N'2026-02-15' AS Date))
INSERT [dbo].[Table_Membership] ([Membership_Id], [Member_Id], [Package_Id], [Start_Date], [End_Date]) VALUES (3, 3, 3, CAST(N'2026-02-01' AS Date), CAST(N'2026-05-01' AS Date))
SET IDENTITY_INSERT [dbo].[Table_Membership] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Package] ON 

INSERT [dbo].[Table_Package] ([Package_Id], [Package_Name], [Package_Price], [Package_Duration]) VALUES (1, N'Öğrenci Paketi', CAST(1000.00 AS Decimal(18, 2)), 30)
INSERT [dbo].[Table_Package] ([Package_Id], [Package_Name], [Package_Price], [Package_Duration]) VALUES (2, N'Aylık Paket', CAST(1500.00 AS Decimal(18, 2)), 30)
INSERT [dbo].[Table_Package] ([Package_Id], [Package_Name], [Package_Price], [Package_Duration]) VALUES (3, N'3 Aylık Paket', CAST(3500.00 AS Decimal(18, 2)), 90)
SET IDENTITY_INSERT [dbo].[Table_Package] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_Staff] ON 

INSERT [dbo].[Table_Staff] ([Staff_Id], [Staff_Name], [Staff_Username], [Staff_Password]) VALUES (1, N'İrem Özcan', N'irrmozcn', N'irem1234.')
INSERT [dbo].[Table_Staff] ([Staff_Id], [Staff_Name], [Staff_Username], [Staff_Password]) VALUES (2, N'Elif Gökçe', N'elffgkce', N'elif1907')
INSERT [dbo].[Table_Staff] ([Staff_Id], [Staff_Name], [Staff_Username], [Staff_Password]) VALUES (3, N'Buse Şimşek', N'busesmsk', N'busee34')
SET IDENTITY_INSERT [dbo].[Table_Staff] OFF
GO
USE [master]
GO
